#rated_books{
    display: flex;
    flex-direction: column;
    justify-content:center;
    justify-content:space-between ;
  
}
.text-title{
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.rated_outerbox::-webkit-scrollbar{
    display: none;
}
.rated_outerbox{
    width: 800px;
    height: 500px;
    overflow-y: scroll;
    padding-top:30px;
    padding-left:20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.book_img{
    display: flex;
    margin: 10px;
    
}
.book_tit{
    font-size:20px;
    font-weight: bold;
    
}
.book_details{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 12px;
}
.book_horiz{
    display: flex;
}
.not_rated{
    display: flex;
    flex-direction: column;
    margin: 30px;
    
}
.head_tit{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.rated_outerbox1{
    width: 800px;
    height: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}